.tooltip {
    position: relative;
    display: block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    background-color: #282827;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    top: -2.5em;
    left: 50%;
    transform: translateX(-50%);
    /* 定位 */
    position: absolute;
    z-index: 999999;

}
.tooltip_content{
    position: relative;
}
.triangle {
    position: absolute;
    top:23px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-radius: 2px;
    border-top: 10px solid #282827;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.loading_box,.view_header {
    margin-top: 2.5rem;
}



.rotate_all,.remove_pdf{
    box-sizing: border-box;
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
}
.rotate_all:hover,.remove_pdf:hover{
    border: none;
}
.rotate_all{
    background: #FF612F;
}
.remove_pdf{
    background: #1f2937;
}
.zoom_box{
    background: white;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoom_icon{
    width: 20px;
    height: 20px;
}
.view_header{
    display: flex;
}
.view_header li {
    margin-left: 12px;
}
.view_header li:first-child {
    margin-left: 0px;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotating_image {
    animation: rotate 1s linear infinite;
}
.page_list_box{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.page_box{
    position: relative;
    overflow: hidden;
    background: white;
    padding: 12px;
    text-align: center;
    margin:0 20px 20px 0;
}
.rotate_box{
    position: absolute;
    top:5px;
    right: 5px;
    background: #ff612f;
    width: 20px;
    height: 20px;
    border-radius: 16px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotate_icon{
    width: 14px;
    height: 14px;
}
.flex_center{
    display: flex;
    justify-content: center;
}